
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= "#{@badge_request.student.given_name} #{@badge_request.student.family_name} is requesting a #{@badge_request.badge.name} badge"  %></h1>
    <p>
      Please go to Outwood Honours to approve this badge:
    </p>
  </body>
</html>