
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You have the following badges to approve</h1>
    <p>
      <ul>
        <% @badge_requests.each do |br| %>
          <li><%= "#{br.student.given_name} #{br.student.family_name} is requesting the #{br.badge.name} badge"%></li>          
        <% end %>
      </ul>
    </p>
  </body>
</html>