---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=urn%3Aietf%3Aparams%3Aoauth%3Agrant-type%3Ajwt-bearer&assertion=eyJhbGciOiJSUzI1NiJ9.eyJpc3MiOiJvdXR3b29kLWhvbm91cnMtc3luY0BvdXR3b29kLWhvbm91cnMuaWFtLmdzZXJ2aWNlYWNjb3VudC5jb20iLCJhdWQiOiJodHRwczovL3d3dy5nb29nbGVhcGlzLmNvbS9vYXV0aDIvdjQvdG9rZW4iLCJleHAiOjE1NjE2NDg5NzAsImlhdCI6MTU2MTY0ODg1MCwic2NvcGUiOiJodHRwczovL3d3dy5nb29nbGVhcGlzLmNvbS9hdXRoL3NwcmVhZHNoZWV0cy5yZWFkb25seSJ9.l6pzJpuHaDy-RI2n00mVWEVNPn65LJO4_LF2erOzOm09PX-vj8xVk1ntCVbYshEdo_7ku6fPijcv4LX4CCWceENltMzA3f_U1dFJGtB-gtkbQ4L_z46XKTtf0zXgyMRxH4T5jwA3E7wzkHYd72mO2P4Sn3g-qWFw8ZDvLqCYFdMciFzmxbS13e0dOaUVj9mHAHJDcPJB9fvMGKA96DIqG9A0hvE_6JFBwX1E2UiVdfqXMH0_Ib1_og6uB9cfWlIEqv2sz99CQE8gPmxp0Kaf-9x7tEhRXbrg8xprnnQtF-qnbXPylPq75JGhdaD9wPRG5nq0dZtKbjOjjZ1VpDSRng
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "ya29.c.Elo0BxU8B2N1EqBwHHoh0NszCfrhoZ0EXMs38hC7FEqRJIrYG-gMMnMNFeCRm17FvQrFSQpi-non1sRYYizA9bCLdmHPEHVBkjwfmtN7tzmSmN_YX33Wv-d6idk",
          "expires_in": 3600,
          "token_type": "Bearer"
        }
  recorded_at: Thu, 27 Jun 2019 15:21:50 GMT
- request:
    method: get
    uri: https://sheets.googleapis.com/v4/spreadsheets/18fcQA_KSbo0cuQzHZJvcIAIXdK0OBvXsjJPtJgQHEG4/values/Users!A2:E
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.Elo0BxU8B2N1EqBwHHoh0NszCfrhoZ0EXMs38hC7FEqRJIrYG-gMMnMNFeCRm17FvQrFSQpi-non1sRYYizA9bCLdmHPEHVBkjwfmtN7tzmSmN_YX33Wv-d6idk
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "range": "Users!A2:E4",
          "majorDimension": "ROWS",
          "values": [
            [
              "n.houlton@grange.outwood.com",
              "Houlton",
              "Nick Houlton",
              "Nick",
              "/Staff/grange"
            ],
            [
              "s31389@student.outwood.com",
              "Prince",
              "Callum Prince",
              "Callum",
              "/Students/offRoll"
            ],
            [
              "s31665@student.outwood.com",
              "Salu",
              "Jolaade Salu",
              "Jolaade",
              "/Students/Secondary/grange"
            ]
          ]
        }
  recorded_at: Thu, 27 Jun 2019 15:21:51 GMT
recorded_with: VCR 5.0.0
