---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=urn%3Aietf%3Aparams%3Aoauth%3Agrant-type%3Ajwt-bearer&assertion=eyJhbGciOiJSUzI1NiJ9.eyJpc3MiOiJvdXR3b29kLWhvbm91cnMtc3luY0BvdXR3b29kLWhvbm91cnMuaWFtLmdzZXJ2aWNlYWNjb3VudC5jb20iLCJhdWQiOiJodHRwczovL3d3dy5nb29nbGVhcGlzLmNvbS9vYXV0aDIvdjQvdG9rZW4iLCJleHAiOjE1NjE2NDg0NDMsImlhdCI6MTU2MTY0ODMyMywic2NvcGUiOiJodHRwczovL3d3dy5nb29nbGVhcGlzLmNvbS9hdXRoL3NwcmVhZHNoZWV0cy5yZWFkb25seSJ9.WYW73qipHlMfaC9XcTyjpTwCvzAZtV3dCrPqIrAmvOSIvhE2QB_yNdTFgUqUXk-jMaIl8Ezss4vMHlp8Sd3U0DX95_1uP3l0OqLkKaZ_x8UrFnD7MSVrY-3a9osYUXkP23Bbf8euMV5nNbpMHsYHZcXoxj4bj2EcjCXen-Gd9FTPqNKLyPStaCbZqfa7fcPiqdzfwHq-javdmcD81bLRujoQvi6ZRG2obgLWBylj8wn0rqmKuCtUpbBAGxwzrHNs52ZOd4cIE6KXWJQHsUF96Odup09rH_eOYs424MIrUfuPDNY4Bf_-ZtXEPWu8NeVzC3PRLUUC2fiMsXl06d-jRg
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "ya29.c.Elo0B59u5qcIwYpQmF8wy3OwfFY5rGfrsgqaZ_XZa_ZuVjPvHFcqptt3K6e5mAaJgjkdqIxuz6VEThxTTSatNyq2JTF1lt6cfhZ_WhROewpAclYe-lA5ElWtVrQ",
          "expires_in": 3600,
          "token_type": "Bearer"
        }
  recorded_at: Thu, 27 Jun 2019 15:13:03 GMT
- request:
    method: get
    uri: https://sheets.googleapis.com/v4/spreadsheets/18fcQA_KSbo0cuQzHZJvcIAIXdK0OBvXsjJPtJgQHEG4/values/Users!A2:E
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.Elo0B59u5qcIwYpQmF8wy3OwfFY5rGfrsgqaZ_XZa_ZuVjPvHFcqptt3K6e5mAaJgjkdqIxuz6VEThxTTSatNyq2JTF1lt6cfhZ_WhROewpAclYe-lA5ElWtVrQ
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "range": "Users!A2:E4",
          "majorDimension": "ROWS",
          "values": [
            [
              "n.houlton@grange.outwood.com",
              "Houlton",
              "Nick Houlton",
              "Nick",
              "/Staff/grange"
            ],
            [
              "s31389@student.outwood.com",
              "Prince",
              "Callum Prince",
              "Callum",
              "/Students/offRoll"
            ],
            [
              "s31665@student.outwood.com",
              "Salu",
              "Jolaade Salu",
              "Jolaade",
              "/Students/Secondary/grange"
            ]
          ]
        }
  recorded_at: Thu, 27 Jun 2019 15:13:04 GMT
recorded_with: VCR 5.0.0
