---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=urn%3Aietf%3Aparams%3Aoauth%3Agrant-type%3Ajwt-bearer&assertion=eyJhbGciOiJSUzI1NiJ9.eyJpc3MiOiJvdXR3b29kLWhvbm91cnMtc3luY0BvdXR3b29kLWhvbm91cnMuaWFtLmdzZXJ2aWNlYWNjb3VudC5jb20iLCJhdWQiOiJodHRwczovL3d3dy5nb29nbGVhcGlzLmNvbS9vYXV0aDIvdjQvdG9rZW4iLCJleHAiOjE1NjE2NDg0NDIsImlhdCI6MTU2MTY0ODMyMiwic2NvcGUiOiJodHRwczovL3d3dy5nb29nbGVhcGlzLmNvbS9hdXRoL3NwcmVhZHNoZWV0cy5yZWFkb25seSJ9.q0-boHllfYKu1NxTjR2M20Gxl3MVd4cLEp-6DaYVoY9NMnhWNmp-aBulgpDEowoW3QdmJpVjUCbamg6TWGe2FhNvyfY_yMQbdM-Jf_Dmlv6ZO-sK89Iw-ANlTRzxjxvwqtN5PAK7gyb3N8MntoLLGxckRdJHXq1SIzxAORQJm_ES5fB5Gy54UkZgvaxegIRYxrbTxr_DdxxSBvzR-96dvKIslPppFS6by7PS4af5eF9C9HP9jPczVhkCWhV-mURo3kLufOF5ZWU-L1UaAJ3tGsFPCr_GSfS0R8su_Xb_tyflZ9iIMCFJTk0dVM1xJLOp78nWlvHTQ3TE-BItFh-5oQ
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "ya29.c.Elo0B7iuP7zD9U8Gsk4vIX4v3URZHIOI2QWsC-C6qicj1W5eo9_yPef9d-l094OkjFvaVTwXvEyVu8NkN_YJt0uXP46qoGrIRf7hriaoSGpu-CYnKbn5Hl1M8IU",
          "expires_in": 3600,
          "token_type": "Bearer"
        }
  recorded_at: Thu, 27 Jun 2019 15:13:02 GMT
- request:
    method: get
    uri: https://sheets.googleapis.com/v4/spreadsheets/18fcQA_KSbo0cuQzHZJvcIAIXdK0OBvXsjJPtJgQHEG4/values/Users!A2:E
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.Elo0B7iuP7zD9U8Gsk4vIX4v3URZHIOI2QWsC-C6qicj1W5eo9_yPef9d-l094OkjFvaVTwXvEyVu8NkN_YJt0uXP46qoGrIRf7hriaoSGpu-CYnKbn5Hl1M8IU
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "range": "Users!A2:E4",
          "majorDimension": "ROWS",
          "values": [
            [
              "n.houlton@grange.outwood.com",
              "Houlton",
              "Nick Houlton",
              "Nick",
              "/Staff/grange"
            ],
            [
              "s31389@student.outwood.com",
              "Prince",
              "Callum Prince",
              "Callum",
              "/Students/offRoll"
            ],
            [
              "s31665@student.outwood.com",
              "Salu",
              "Jolaade Salu",
              "Jolaade",
              "/Students/Secondary/grange"
            ]
          ]
        }
  recorded_at: Thu, 27 Jun 2019 15:13:03 GMT
recorded_with: VCR 5.0.0
